/* ================
common styles
=================== */

ol, ul {
    text-decoration: none;
    list-style: none;
}

a {
    transition: all .4s ease;
    color: #000000;

    &:hover {
        color: $primary-color
    }
}


h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}


/* ================
Spacing style
=================== */

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}


/*============
Buttons
============*/

.btn {
    font-family: $heading-font;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    border-radius: 2px;
    padding: 16px 35px;
    text-transform: capitalize;
    border: 1px solid transparent;
}

.btn-gray-outline {
    border-color: #000000;
    background: transparent;

    &:hover {
        background: $primary-color;
        color: #fff;
        border-color: $primary-color;
    }
}

.btn-sm {
    padding: 13px 25px;
}

.btn-theme {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: #fff;
    transition: all 0.4 ease;

    &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;
    }
}

.btn-white {
    background-color: #fff;
    color: $primary-color;
    border-color: #fff;
    transition: all 0.4 ease;

    &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;
    }
}